aws_s3_endpoint: s3-ap-northeast-1.amazonaws.com
aws_sns_endpoint: sns.ap-northeast-1.amazonaws.com
aws_sqs_endpoint: sqs.ap-northeast-1.amazonaws.com

aws_access_key_id: 
aws_secret_access_key: 
aws_s3_bucketname: 
aws_sns_topic_arn: 
aws_sqs_queue_url: 